<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a><small> Tenor </small></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <ul class="downloads">
          <li><a href="https://www.facebook.com/kangwangtenor" target="_blank">View <strong>Facebook</strong></a></li>
          <li><a href="http://instagram.com/kangwang" target="_blank">View <strong>Instagram</strong></a></li>
          <li><a href="https://www.youtube.com/c/KangWangTenor" target="_blank">Watch On <strong>Youtube</strong></a></li>
        </ul>

        <hr>
        
        <p>
          <span style="line-height: 2em;">
          <strong>CONTACT</strong><br/>
          Matthew Horner<br/>
          <em>General Management</em><br/>
          <a href="mailto:mhorner@imgartists.com">mhorner@imgartists.com</a><br/>
          +1 212 994 3540<br/>
        </span>
        7 W 54th St, New York <br/>
          NY 10019 United States
        </p>
          
        <!-- {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %} -->

      </header>
      <section>

      {{ content }}

      <ul>
        {% for post in site.posts reversed %}
          <li>
            <a href="{{ post.link }}" target="_blank">{{ post.title }}</a>
            <p>{{ post.when }}</p>
            <p>{{ post.who }}</p>
            <p>{{ post.where }}</p>
          </li>
        {% endfor %}
      </ul>

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>Represented by<a href="https://imgartists.com/roster/kang-wang/" target="_blank"><br/><img src="./assets/img/imglogo.gif" alt="IMG Artists" style="width: 25%;"/></a></p>
        {% endif %}
        <p><small>Copyright © 2022</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
